<!DOCTYPE html>
<html>
<head>
<title>购买产品测试</title>
    <script src="/js/jquery.js"></script>
</head>
<script type="text/javascript">
 /*   for(var i=0; i<=20000;i++) {
        var params = {
            userId: 1,
            productId: 1,
            quantity: 1
        };
        //通过POST请求后端
        $.post("./purchase", params, function (result) {
            //alert(result.message);
        });
    }*/
    for(var i=0; i<=20000;i++) {
        var params = {
            userId: 1,
            productId: 1,
            quantity: 1
        };
        //通过POST请求后端
        $.post("./purchaseByRedis", params, function (result) {
            //alert(result.message);
        });
    }
</script>
<body>
    <h1>抢购商品测试</h1>
</body>
</html>